.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .height {
  height: 100%;
  min-height: 100vh;
}

.width {
  width: 100%;
  min-width: 100vw;
} */


.app_image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.homepage { 
  /* background-image: url("./images/v4.jpg"); */
  /* background-size: cover; */
  height: 100vh;  
  width: 100vw;
  position: relative;
  text-align: left;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}

.homepage button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0; /* Optional: Remove padding */
  outline: none; /* Optional: Remove the outline on focus */
  color: white;
  font-family: Inter;
  font-size: 20px;
  z-index: 10;
}

.homepage button:hover {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0; /* Optional: Remove padding */
  outline: none; /* Optional: Remove the outline on focus */
  color: white;
  font-family: Inter;
  font-size: 15;
  text-decoration: underline;
  z-index: 10;
}

.aboutpage { 
  width: 100vw;   
  height: 100vh;  
  background-color: black;
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.box {
  height: 500px;
  width: 1000px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid white;
  background-color: white;
  color: black;
}

@media (max-width: 1000px) {
  .box {
  height: 250px;
  width: 500px;
  }
}

.exppage { 
  position: relative;
  color: black; 
  width: 100vw;
  background-color: white;
  padding-top: 100px;
  text-align: center;
  overflow: hidden;
}

.custom-timeline-element:before {
  background: black !important; /* Replace with your desired color */
}

.projectpage { 
  /* background-image: url("./images/v3.jpg");
  background-size: cover; */
  display: flex;
  flex-direction: column;
  background-color: black;
  /* height: 100vh;  */
  width: 100vw;
  position: relative;
  text-align: center;
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  padding-bottom: 100px;
  overflow: hidden;
}

.gfg {
  margin: 3%;
  position: relative;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  /* text-decoration: underline; */
  position: absolute;
  top: 8px;
  right: 30px;
  font-size: 20px;
  font-style: 'Equinox';
}

/* Tablets */
@media (max-width: 768px) {
  .top-right {
    font-size: 14px; /* Slightly smaller font size for tablets */
    right: 20px; /* Adjust position for smaller screens */
    /* Other tablet-specific styles if needed */
  }
}

/* Mobile Devices */
@media (max-width: 480px) {
  .top-right {
    font-size: 10px; /* Even smaller font size for mobiles */
    right: 10px; /* Adjust position for very small screens */
    /* Other mobile-specific styles if needed */
  }
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.container {
  position: relative;
}

p {
  font-size: 25px;
}

.test {
  font-size: 50px;
  font-family: Inter;
  color: black;
  text-align: center;
  padding: 8px; /* Combined padding for top/bottom and left/right */
  border: 4px solid black;
  display: inline-block; /* Makes the div only as wide as its content */
  margin: 0 auto; /* Centers the div in its container */
  font-weight: bold;
}


.projectpage h1 {
  font-size: 50px;
  font-family: Inter;
  color: white;
  /* top: 0%;
  left: 42%; */
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  border: 4px solid white;
  padding: 8px;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  .projectpage h1 {
    font-size: 30px;
  }
}



@media (max-width: 700px) {
  .test {
    font-size: 30px;
  }
}

.aboutpage h1 {
  font-size: 50px;
  font-family: Inter;
  color: white;
  /* top: 10%; */
  /* left: 42%; */
  text-align: center;
  /* padding-top: 100px; */
  margin-top: 50px;
  /* border: 4px solid white; */
  padding: 8px;
  /* display: inline-block; Makes the div only as wide as its content */

}

@media (max-width: 700px) {
  .aboutpage h1 {
    font-size: 30px;
  }
}

.exppage h2 {
  font-size: 30px;
  font-family: 'Inter';
  text-align: left;
}

/* img {
  max-width: 100%;
  max-height: 80%;
  display: block;
  margin: 0 auto;
} */

@font-face {
  font-family: 'Equinox';
  font-style: normal;
  font-weight: normal;
  src: local('Equinox'), url('./fonts/Equinox_Typeface_Dfonts.org/Equinox Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Stargaze';
  font-style: normal;
  font-weight: normal;
  src: local('Stargaze'), url('./fonts/Stargaze/Stargaze Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: local('Inter'), url('fonts/Inter/static/Inter-Medium.ttf') format('truetype');
}

.exp-container {
  /* position: absolute; */
  /* overflow: auto; */
  height: 400px;
  width: 900px;
  padding-left: 50px;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 4px solid white;
  background-color: white;
  color: black;
  /* background-color: #8A96A9; */
  /* scrollbar-width: thin; /* "auto" or "thin" based on your preference */
  /* scrollbar-color: transparent transparent; /* Adjust the colors as needed */
}

button {
  margin-top: 10px;
}

.overflow-container:hover {
  scrollbar-color: auto auto; /* Show the scrollbar on hover */
}

.flex-container {
  display: flex; /* or inline-flex */

}

.flex-date {
  width: 20%;
  height: 200px;
}

.flex-descr {
  /* width: 25%; */
  /* height: 20%; */
  text-align: left;
  line-height: 1.5;
  font-size: 24px;
}

.flex-img {
  width: 100;
  height: 200px;
}

.rocket_timeline {
  position: absolute;
  top: 60%;
  left: 27%;
  width: 580px;
  height: 100px;
  transform: rotate(-90deg);
}

.homeText {
  text-align: left;
  position: absolute;
  left: 31%;
  top: 35%;

}

@media (max-width: 480px) {
.homeText {
  text-align: left;
  position: absolute;
  left: 50%;
  top: 35%;
  width: 400px;
  }
}

/* Centered text */
.centered {
  /* position: absolute;
  top: 35%;
  left: 23.5%; */
  font-size: 60px;
  font-family: Inter;
  font-weight: 20;
  color: white;
  transform: translate(-50%, -50%);
}

/* Tablets */
@media (max-width: 768px) {
  .centered {
    font-size: 40px; /* Smaller font size for tablets */
    left: 50%; /* Adjust positioning if needed */
    /* Other tablet-specific adjustments */
  }
}

/* Mobile devices */
@media (max-width: 600px) {
  .centered {
    font-size: 30px; /* Even smaller font size for mobile */
    left: 50%; /* Adjust positioning if needed */
    /* Other mobile-specific adjustments */
  }
}

.name {
  /* position: absolute;
  top: 47.5%;
  left: 31%; */
  font-size: 60px;
  font-family: Inter;
  font-weight: bold;
  color: white;
  transform: translate(-50%, -50%);
  padding-bottom: 7px;
  padding-top: 3px;
}

/* Tablets */
@media (max-width: 768px) {
  .name {
    font-size: 40px; /* Smaller font size for tablets */
    left: 50%; /* Adjust positioning if needed */
    /* Other tablet-specific adjustments */
  }
}

/* Mobile devices */
@media (max-width: 600px) {
  .name {
    font-size: 30px; /* Even smaller font size for mobile */
    left: 50%; /* Adjust positioning if needed */
    /* Other mobile-specific adjustments */
  }
}

.belowCenter {
  /* position: absolute;
  top: 60%;
  left: 31%; */
  font-size: 32px;
  font-family: Inter;
  color: lightgray;
  transform: translate(-50%, -50%);
  border-style: solid;
  padding: 10px;
}

/* Tablets */
@media (max-width: 768px) {
  .belowCenter {
    font-size: 24px; /* Smaller font size for tablets */
    left: 50%; /* Adjust positioning if needed */
    /* Other tablet-specific adjustments */
  }
}

/* Mobile devices */
@media (max-width: 600px) {
  .belowCenter {
    font-size: 20px; /* Even smaller font size for mobile */
    left: 50%; /* Adjust positioning if needed */
    /* Other mobile-specific adjustments */
  }
}

.centered2 {
  position: absolute;
  top: 43%;
  left: 50%;
  font-size: 75px;
  font-family: Equinox;
  transform: translate(-50%, -50%);
}

.AboutLogo {
  position: absolute;
  top: 50%;
  left: 12.5%;
  transform: translate(-50%, -50%);
}

.AboutTitle {
  position: absolute;
  top: 18%;
  left: 68%;
  font-size: 35px;
  font-family: Inter;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 500px;
  font-weight: bold;
}


/* Centered text */
.AboutText {
  position: absolute;
  top: 50%;
  left: 68%;
  font-size: 20px;
  font-family: Inter;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: left;
  /* border: 4px solid rgb(51, 51, 51); */
  padding: 5px;
}

.fb {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 90%;
  left: 94%
}

.in {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 90%;
  left: 84%
}

.git {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 90%;
  left: 89%
}

.me {
  position: absolute;
  top: 0%;
  left: 52.5%;
  width: 600px;
  height: auto;
}

/* Tablets */
@media (max-width: 900px) {
  .me {
    width: 50%; /* Adjust width for tablet screens */
    top: 15%;
    /* Optionally adjust the position if needed */
  }
}

/* Mobile Devices */
@media (max-width: 480px) {
  .me {
    width: 100%; /* Adjust width for mobile screens */
    top: 50%;
    left: 0%;
    /* Optionally adjust the position if needed */
  }
}

.logo {
  height: 100%;
  width:  100%;
}

.exp_date {
  font-size: 30px; /* Example: change font size */
  color: #000 !important; 
  font-weight: bold !important; 
  text-align: left;
  /* Other styling */
}

.image-row {
  display: flex;
  /* justify-content: space-around; */
  margin-top: 0px; /* Space between rows */
  align-items: center;
}

.image-row img {
  /* margin: 0 0px; Space between images */
  width: 400px; /* Adjust the width as needed */
  height: 300px;
  margin: 0;
  align-items: center;
  /* object-fit: cover; */
}

@media (max-width: 1200px) {
.image-row img {
  /* margin: 0 0px; Space between images */
  width: 200px; /* Adjust the width as needed */
  height: 150px;
  margin: 0;
  align-items: center;
  /* object-fit: cover; */
}
}

@media (max-width: 680px) {
  .image-row img {
    /* margin: 0 0px; Space between images */
    width: 130px; /* Adjust the width as needed */
    height: 97.5px;
    margin: 0;
    align-items: center;
    /* object-fit: cover; */
  }
  }

.belowArrow {
  position: absolute;
  top: 80%;
  left: 47.5%;
  font-size: 75px;
  font-family: Equinox;
  transform: translate(-50%, -50%);
  border-right: 5px solid; 
  border-bottom: 5px solid;
  height: 40px;
  width: 40px;
  transform: rotate(45deg);
  color: #f4f3f2;
}

.rightArrow {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 75px;
  font-family: Equinox;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-right: 5px solid; 
  border-bottom: 5px solid;
  border-left: 5px solid white; 
  border-top: 5px solid white;
  height: 40px;
  width: 40px;
  background-color: white;
  color: black;
}

.leftArrow {
  position: absolute;
  top: 80%;
  left: 10%;
  font-size: 75px;
  font-family: Equinox;
  transform: translate(-50%, -50%) rotate(135deg);
  border-right: 5px solid; 
  border-bottom: 5px solid;
  border-left: 5px solid white; 
  border-top: 5px solid white;
  height: 40px;
  width: 40px;
  background-color: white;
  color: black;
}


.skill-container {
  padding-top: 20px;
  display: flex;
}

.skill {
  width: 130px;
  height: 40px;
  background-color: #0e1011; /* Adjust the color as needed */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Adjust the spacing between circles */
  border-radius: 10px;
  font-weight: medium;
  font-family: Inter;
  font-size: 20px;
  /* padding: 20px; */
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px; /* Add margin to separate images */
}

.left_exp {
  position: absolute;
  top: 75%;
  left: 5%;
  width: 100px;
  height: 100px;
  transform: rotate(-135deg);
}

.right_exp {
  position: absolute;
  top: 75%;
  left: 85%;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
}

/* .exp_date {
  position: absolute;
  top: 81%;
  left: 37%;
  font-weight: medium;
  font-family: Inter;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  background-color: black;
  color: white;
} */

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0; /* Optional: Remove padding */
  outline: none; /* Optional: Remove the outline on focus */
}

.flex-container-projects {
  position: absolute;
  top: 25%;
  left: 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
}

.flex-item-projects {
  /* position: absolute; */
  /* position: relative; */
  width: 300px;
  height: 400px;
  border: 2px solid white;
  /* top: 40%; */
  align-self: flex-start;
  /* margin-top: 5%;  */
  margin-right: 20px;
  background-color: white;
  color: black;
  flex: 0 0 auto;
  transition: opacity 0.5s ease;
}

.image-container {
  position: relative;
  /* margin: 10px; */
}

.image-container a {
  display: block;
  position: relative;
}

.image-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.3s ease; /* Smooth transition for the fade-in effect */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Text color */
}

.image-container:hover .image-text {
  opacity: 1; /* Show text on hover */
}

.image-title {
  position: absolute;
  bottom: 55%; 
  /* left: 25%;  */
  color: White; /* Text color */
  font-weight: bold;
  padding: 2px 5px; /* Some padding around the text */
  text-align: center;
}

.image-subtitle {
  position: absolute;
  bottom: 30%; 
  left: 0%;
  /* font-weight: bold; */
  color: White; /* Text color */
  padding: 2px 5px; /* Some padding around the text */
  /* text-align: left; */
}

.projectTitle {
  font-weight: medium;
  font-family: Inter;
  font-size: 20px;
}

.projectDescr {
  font-weight: thin;
  font-family: Inter;
  font-size: 15px;
  text-align: left;
  padding: 10px;
}

.projectLeftArrow {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 75px;
  font-family: Equinox;
  transform: translate(-50%, -50%);
  border-right: 5px solid; 
  border-bottom: 5px solid;
  height: 40px;
  width: 40px;
  transform: rotate(135deg);
  color: #f4f3f2;
}

.projectRightArrow {
  position: absolute;
  top: 50%;
  left: 90%;
  font-size: 75px;
  font-family: Equinox;
  transform: translate(-50%, -50%);
  border-right: 5px solid; 
  border-bottom: 5px solid;
  height: 40px;
  width: 40px;
  transform: rotate(-45deg);
  color: #f4f3f2;
}

.me_img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 400px;
  height: 500px;
}

.aboutpage button {
  position: absolute;
  top: 79%;
  left: 43%;
  color: white;
  border: 4px solid black;
  border-radius: 10px;
  padding: 5px;
  font-family: Inter;
  background-color: black;
  font-weight: bold;
  font-size: 17px;
}

.koji_img {
  position: absolute;
  top: 28%;
  left: 80%;
  width: 100px;
  height: 100px;
  fill: black;
}

.cross_img {
  position: absolute;
  top: 28%;
  left: 40%;
  width: 100px;
  height: 100px;
}






